.root {
  width: 750px;
  height: 1334px;
}

.img-bg-mine {
  width: 750px;
  height: 750px;
}
.div-content{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}
.div-top-link{
  width: 100%;
  height: 320px;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;

}
.div-card{
  flex-direction: row;
  justify-content: flex-start;
}
.div-card .p-card{
  color: #fff;
  margin-right: 5px;
  font-size: 24px;
  font-weight: 300;
}
.div-card .img-triangle{
  width: 40px;
  height: 50px;
  margin-top: -8px;
}
.p-person-center{
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}
.div-work-content{
  flex: 1;
  background-color: #eee;
}
.img-person{
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 210px;
  margin-left: -75px;
}
.div-person-info{
  width: 100%;
  background-color: #fff;
  padding: 60px 0 20px;
}
.div-person-info-top{
  flex-direction: row;
  justify-content: center;
}
.p-person-name{
  margin-right: 10px;
  font-weight: 700;
}
.p-work-position{
  font-weight: 800;
}
.p-work-department{
  text-align: center;
  margin-top: 12px;
  font-size: 26px;
  color: #666;
}
.div-person-list{
  background-color: #fff;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  border-bottom-width: 1px;
  border-bottom-color: #ddd;
  padding-top: 20px;
}
.div-list-item{
  align-items: center;
}
.img-item{
  width: 50px;
  height: 50px;
}
.p-item{
  margin: 12px 0 20px;
  font-size: 24px;
}
.div-group-list,.div-add-list{
  background-color: #fff;
  width: 100%;
  flex-direction: row;
  border-bottom-width: 1px;
  padding-top: 20px;
}
.div-group-item{
  width: 25%;
}
.img-add-item{
  width: 36px;
  height: 36px;
}
.div-add-list{
  margin-top: 24px;
}