<osc-root class="mine-root">
  <image class="img-bg-mine" resize="cover"
         src="https://github.com/osmartian/weex-frame/blob/master/src/views/mine/imgs/bg_basic_info_default.png?raw=true"></image>
  <div class="div-content">
    <div class="div-top-link">
      <div class="div-card">
        <text class="p-card">名片</text>
        <image class="img-triangle"
               src="https://github.com/osmartian/weex-frame/blob/master/src/views/mine/imgs/triangle.png?raw=true"></image>
      </div>
      <text class="p-person-center" @click="toPersonal">个人中心</text>
    </div>
    <div class="div-work-content">
      <div class="div-person-info">
        <div class="div-person-info-top">
          <text class="p-person-name">{{personName}}</text>
          <text class="p-work-position">{{workPosition}}</text>
        </div>
        <text class="p-work-department">{{workDepartment}}</text>
      </div>
      <div class="div-person-list">
        <div v-for="(item, index) in personInfoList" class="div-list-item" @click="onPersonList(index)">
          <image :src="item.iconUrl" class="img-item"></image>
          <text class="p-item">{{item.name}}</text>
        </div>
      </div>
      <div class="div-group-list">
        <div v-for="item in groupInfoList" class="div-list-item div-group-item">
          <image :src="item.iconUrl" class="img-item"></image>
          <text class="p-item">{{item.name}}</text>
        </div>
      </div>
      <div class="div-add-list">
        <div class="div-list-item div-group-item" @click="toBlog">
          <image
              src="https://github.com/osmartian/weex-frame/blob/master/src/views/mine/imgs/apply-blog.png?raw=true"
              class="img-add-item"></image>
          <text class="p-item">博客</text>
        </div>
        <div class="div-list-item div-group-item">
          <image
              src="https://github.com/osmartian/weex-frame/blob/master/src/views/mine/imgs/beacon_add_key.png?raw=true"
              class="img-add-item"></image>
          <text class="p-item">添加</text>
        </div>
      </div>
    </div>
  </div>
  <image class="img-person"
         src="https://github.com/osmartian/weex-frame/blob/master/src/views/mine/imgs/person-img.jpg?raw=true"></image>
</osc-root>
