<osc-navpage
    class="root"
    :title="title"
    titleColor="white"
    leftItemSrc="https://github.com/osmartian/weex-frame/blob/master/src/views/userinfo/imgs/back.png?raw=true"
    @naviBarLeftItemClick="naviBarLeftItemClick">
    <div class="div-main-info">
      <div class="div-main-info-content">
        <image class="img-person"
               src="https://github.com/osmartian/weex-frame/blob/master/src/views/mine/imgs/person-img.jpg?raw=true"></image>
        <div class="div-main-word">
          <div class="div-person-job">
            <text class="p-person-name">{{personName}}</text>
            <text class="p-work-position">{{workPosition}}</text>
          </div>
          <text class="p-work-department">{{workDepartment}}</text>
        </div>
      </div>
    </div>
    <div class="div-qr-code">
      <text class="div-qr-code-name">二维码</text>
      <image class="img-qr-code-icon"
             src="https://github.com/osmartian/weex-frame/blob/master/src/views/userinfo/imgs/move_btn.png?raw=true"></image>
    </div>
    <div class="div-social-info">
      <text class="p-social-word">社交信息</text>
      <div class="list">
        <div v-for="item in socialInfo" :key="item.name" class="cell-list-item">
          <text class="p-list-name">{{item.tag}}</text>
          <text class="p-list-content">{{item.data}}</text>
        </div>
      </div>
    </div>
    <text v-for="item in scrollList" class="scroller-item">scroller{{item}}</text>
</osc-navpage>
